# Django Core
SECRET_KEY=your-secret-key-here-use-secrets-token-urlsafe-50
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=Database_name_here
DB_USER=database_user_here
DB_PASSWORD=secure_password_here
DB_PORT=5432
DB_HOST=localhost
# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_PUBLIC_API_KEY=your_api_key
CLOUDINARY_SECRET_API_KEY=your_api_secret

# Email (SMTP)
EMAIL_ADDRESS=noreply@yourdomain.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_USE_TLS=True

# Admin
ADMIN_USER_NAME=Admin Name
ADMIN_USER_EMAIL="YOUR_ADMIN_USER_EMAIL"