Django>=5.1,<5.2
pillow
cloudinary
python-decouple
django-htmx
django-tailwind[reload]
gunicorn # WSGI HTTP server for UNIX
psycopg2 # PostgreSQL database adapter not using psycopg2-binary for production