Django>=5.1,<5.2
pillow
cloudinary
python-decouple
django-htmx
django-tailwind[reload]
whitenoise>=6.6.0  # Static file serving for production
gunicorn # WSGI HTTP server for UNIX
psycopg2-binary # PostgreSQL database adapter